p{
	color: green;
	text-align: justify;
	text-indent: 50px;
	line-height: 2;
}

a{
	text-decoration: none;
	color: red;
}
h1{
	text-shadow: 5px 13px red;
}
h2{
	text-decoration: overline;
	text-transform: uppercase;
	letter-spacing: 15px;
}
h3{
	text-decoration: line-through;
	text-transform: capitalize;
	word-spacing: 20px;
}
