h2{
	font-size: 100px;
	text-align: center;
	text-shadow: 3px 3px 5px red;
}
.riyad{
	width: 400px;
	text-align: center;
	margin: auto;
	border: 1px solid #d4d4d4;
	box-shadow: 8px 10px 18px rgba(0,0,0,1);
}
.riyad img{
	width: 100%;
}
.riyad h2{
	font-size: 20px;
	text-transform: uppercase;
	margin:0;
}
.content{
	padding: 10px;
}